<!DOCTYPE html>
<html>
    <head>
        <title>Login · Admin · Schemester</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="noindex, nofollow">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-16LE">
        <meta name="theme-color" content="#216bf3" id='themecolor'>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <link rel="apple-touch-startup-image" href="/graphic/icons/schemester128.png">
        <link rel="icon" href="/graphic/icons/schemester128.png" type="image/png" sizes="128x128">
        <link rel = "stylesheet" href="/css/fmt.css">
        <link rel = "stylesheet" href="/css/main.css">
        <link rel = "stylesheet" href="/css/switch.css">
        <link href="/font/Jost.css" rel="stylesheet">
        <link href="/font/Questrial.css" rel="stylesheet">
        <script src="/script/codes.js"></script>
        <script src="/script/main.js"></script>
        <script src="/script/admin/adminlogin.js"></script>
        <script src="/script/admin/admin.js"></script>
    </head>
    <body class="b-positive">
        <div class="fmt-top fmt-shadow" id="topBar">
            <img src="/graphic/leftArrow.svg" class="circle-button" width="40" alt="Go back" id="backFromLogin">
            <span>Admin Login</span>
            <img class="fmt-spin-fast fmt-circle fmt-right" style="display:none" width="40" src="/graphic/onethreeload.svg" id="navLoader"/>
            <span class="fmt-right">
                <label class="switch-container">
                    <input type="checkbox" id="darkmode">
                    <span class="switch-positive"></span>
                </label>
            </span>
        </div>
        <div class="fmt-row fmt-padding"  style="margin-top: 72px;">
            <div class="fmt-col fmt-padding  fmt-quarter">
            </div>
            <div class="fmt-col fmt-half container" id="workbox">
                <span class="heading fmt-hide-small">Administrator</span>
                <span class="heading fmt-hide-medium fmt-hide-large">Admin</span>
                
                <fieldset class="text-field" id="email_fieldset">
                    <legend class="field-caption" >Email Address</legend>
                    <input class="text-input" required placeholder="youremail@example.domain" type="email" inputmode="email" id="adminemail" name="email" value="<%= autofill.email %>">
                    <span class="fmt-right error-caption" id="emailError"></span>
                </fieldset>
                
                <fieldset class="text-field" id="password_fieldset">
                    <legend class="field-caption">Password</legend>
                    <input class="text-input" required="true" placeholder="Your account password." type="password" id="adminpassword" name="password">
                    <span class="fmt-right error-caption" id="passError"></span>
                    <button class="active-button fmt-right" id="forgotpasswordButton">Forgot?</button>
                </fieldset>
                
                <fieldset class="text-field" id="uiid_fieldset">
                    <legend class="field-caption">UIID</legend>
                    <input class="text-input" spellcheck="false" placeholder="Your institution's identifier." type="text" id="uiid" name="uiid" value="<%= autofill.uiid %>">
                    <span class="fmt-right error-caption" id="uiidError"></span>
                </fieldset>
                
                <div class="fmt-row">
                <button class="positive-button fmt-right" style="display:block" id="loginAdminButton">Proceed</button>
                <img class="fmt-spin-fast fmt-right" style="display:none" width="50" src="/graphic/blueLoader.svg" id="loginLoader"/>
                </div>
            </div>
            <div class="fmt-col fmt-padding  fmt-quarter">
            </div>
        </div>

        <div id="dialogView" class="dialog fmt-animate-opacity">
            <div class="dialog-box container fmt-row fmt-animate-opacity" style="padding:22px 0;" id="dialogBox">            
            </div>
        </div>
        <div id="snackBar" class="fmt-animate-bottom">
            <span id="snackText"></span>
            <button id="snackButton"></button>
        </div>
        <span hidden id="target"><%= autofill.target %></span>
    </body>
    <noscript id="noscript" class="dialog fmt-red" style="display:block">
        <div class="dialog-box container fmt-center fmt-row fmt-animate-opacity" style="padding:22px 0;" id="dialogBox">
            <div class="heading">Javascript required</div><br/>
            <div class="group-text fmt-center">Please enable javascript in your browser, or allow this site to use, if denied.
                <br/>If your browser doesn't support javascript, try a <a target="_blank" rel="noreferrer" href="https://google.com/search?q=modern+browsers">modern browser</a>.
            </div>
        </div>
    </noscript>
</html>