<!DOCTYPE html>
<html>
    <head>
        <title>Calling</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="noindex, nofollow">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-16LE">
        <meta name="theme-color" content="#216bf3" id='themecolor'>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <link rel="apple-touch-startup-image" href="/graphic/icons/schemester128.png">
        <link rel="icon" href="/graphic/icons/schemester128.png" type="image/png" sizes="128x128">
        <link rel = "stylesheet" href="/css/fmt.css">
        <link rel = "stylesheet" href="/css/main.css">
        <link rel = "stylesheet" href="/css/switch.css">
        <link href="/font/Jost.css" rel="stylesheet">
        <link href="/font/Questrial.css" rel="stylesheet">
        <script src="/script/codes.js"></script>
        <script src="/script/main.js"></script>
        <script src="/script/comms/calling.js"></script>
    </head>
    <body>
        <div class="fmt-row fmt-center b-positive" style="padding-top:44px;min-height:125mm" id="info">
            <div class="caption questrial neutral" id="callstate">Calling...</div>
            <div class="group-heading neutral" id="calltoname">Priyanshu Ranjan</div>
            <div class="questrial neutral" id="callto">priyanshuranjan88@gmail.com</div>
            <div class="heading questrial neutral" id="timer">...</div>
        </div>
        <br/>
        <div class="fmt-row fmt-center" style="padding-top:44px;" id="actions">
            <button class="neutral-button fmt-padding" id="hold">Hold</button>
            <button class="neutral-button fmt-padding" id="mute">Mute</button>
            <button class="neutral-button fmt-padding" id="speakerphone">Loud</button>
            <button class="negative-button fmt-padding" id="endcall">End</button>
        </div>
        <span hidden>
            <span id="acsrf"><%= acsrf %></span>
        </span>
    </body>
</html>