<!DOCTYPE html>
<html>
    <title>Forbidden · Schemester</title>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-16LE">
        <script src="/script/codes.js"></script>
        <script src="/script/main.js" type="text/javascript"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="noindex, nofollow">
        <meta name="description" content="Even though everyone has the right to know everything, there are many things humans don't like to share. And a majority of these things fall into the category of material objects.">
        <meta name="theme-color" content="#efefef" id='themecolor'>
        <meta property="og:title" content="Schemester · Get Scheduled">
        <meta property="og:type" content="tools">
        <meta property="og:url" content="https://schemester.herokuapp.com/">
        <meta property="og:locale" content="en-US">
        <meta property="og:description" content="An autonomous schedule management workflow with additional features primarily meant for educational institutions.">
        <meta property="og:image" content="https://schemester.herokuapp.com/graphic/icons/schemester512.png">
        <meta property="og:site_name" content="Schemester · Get Scheduled" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <link rel="apple-touch-startup-image" href="/graphic/icons/schemester128.png">
        <link rel="icon" href="/graphic/icons/schemester128.png" type="image/png" sizes="128x128">
        <link rel = "stylesheet" href="/css/fmt.css">
        <link rel = "stylesheet" href="/css/main.css">
        <link href="/font/Jost.css" rel="stylesheet">
        <link href="/font/Questrial.css" rel="stylesheet">
    </head>
    <body style="background-color: var(--base);padding: 38px;">
        <div class="fmt-row fmt-center" >
            <div class="heading" style="color:var(--base-text);font-size: 72px;">
                403
            </div>
            <div class="sub-heading fmt-center fmt-padding">
            Forbidden.
            </div>
            <p class="group-text fmt-padding" style="font-size: 24px;" >
                Even though everyone has the right to know everything, there are many things humans don't like to share.
                And a majority of these things fall into the category of material objects.
                <br/><br/>
                Despite the fact that materialism is temporary, no one can rely solely on immaterial things on their daily routine, as reality is
                what mostly regarded as material. That's debatable, as reality could also be just a mental construct of relative consciousnesses of mentally woke guided beings.
                <br/><br/>
                Moving on, the link which you surfed on browser, took you here because there are some material things of ours which we wouldn't like you to know.
                Regardless of that, we're also here to take you to what we actually want to show and there's plenty of those things on Schemester, so keep exploring!
                
            </p>
        </div>
        <br/>
        <div class="fmt-row fmt-center" >
            <button class="display-button questrial" style="font-size:32px;" id="returnFrom403">Return to base</button>
        </div >
        <script type="text/javascript">
            document.getElementById('returnFrom403').onclick=()=>{
                relocateParent(locate.root);
                // window.parent.location.replace('/');
            };
        </script>
    </body>

</html>