<!DOCTYPE html>
<html>
    <title>Server Lost · Schemester</title>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-16LE">
        <script src="/script/codes.js"></script>
        <script src="/script/main.js" type="text/javascript"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="noindex, nofollow">
        <meta name="description" content="An apology is what you deserve right now, from us, as most likely this page is shown to you while you were doing your usual stuff.">
        <meta name="theme-color" content="#efefef" id='themecolor'>
        <meta property="og:title" content="Schemester · Get Scheduled">
        <meta property="og:type" content="tools">
        <meta property="og:url" content="https://schemester.herokuapp.com/">
        <meta property="og:locale" content="en-US">
        <meta property="og:description" content="An autonomous schedule management workflow with additional features primarily meant for educational institutions.">
        <meta property="og:image" content="https://schemester.herokuapp.com/graphic/icons/schemester512.png">
        <meta property="og:site_name" content="Schemester · Get Scheduled" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <link rel="apple-touch-startup-image" href="/graphic/icons/schemester128.png">
        <link rel="icon" href="/graphic/icons/schemester128.png" type="image/png" sizes="128x128">
        <link rel = "stylesheet" href="/css/fmt.css">
        <link rel = "stylesheet" href="/css/main.css">
        <link href="/font/Jost.css" rel="stylesheet">
        <link href="/font/Questrial.css" rel="stylesheet">
    </head>
    <body style="background-color: var(--base);padding: 38px;">
        <div class="fmt-row fmt-center" >
            <div class="heading" style="color:var(--base-text);font-size: 72px;">
                500
            </div>
            <div class="sub-heading fmt-center fmt-padding">
            We've lost track.
            </div>
            <p class="group-text fmt-padding" style="font-size: 24px;" >
                An apology is what you deserve right now, from us, as most likely this page is shown to you while you were doing your usual stuff.
                So, because of some mistake at our side, Schemester ran into a problem, and regardless of whatever the time is right now, we are currently working to make it work again.
                <br/><br/>
                If you did expect this page, and you feel this is not a mistake from our side, then we have provided a way to go back to our home, and most probably,
                that should be working unlike this, because, when the world is lost for you, your home is what you find.
            </p>
        </div>
        <br/><br/>
        <div class="fmt-row fmt-center" >
            <button class="display-button questrial" style="font-size:32px;" id="returnFrom500">Return home</button>
        </div >
        <script type="text/javascript">
            document.getElementById('returnFrom500').onclick=()=>{
                window.location.replace('/');
            };
        </script>
    </body>

</html>