/* The container */
.check-container {
    position: relative;
    margin: 4px;
    border-radius: 12px;
    box-shadow:0px 1px 5px #00000043;
    cursor: pointer;
    background-color: var(--tertiary-text);
    color:var(--base);
    padding: 4px 4px 4px 34px;
    font-family:'Questrial',sans-serif;
    font-size: 16px;
    width:fit-content;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: 0.2s ease-in-out;
}
.check-container:active{
  box-shadow:0px 0px 0px #00000000;
  background-color: white;
  color:white;
}
  
  /* Hide the browser's default checkbox */
  .check-container input {
    position: absolute;
    outline: none;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Custom checkbox */
  .tickmark-positive,
  .tickmark-negative,
  .tickmark-warning,
  .tickmark-active{
    outline: none;
    position: absolute;
    margin-left: 4px;
    left: 0;
    height: 25px;
    width: 25px;
    
    background-color: #eee;
    transition:0.3s;
    border-radius:20%;
    border-style: solid;
    border-width: 2px;
  }
  .tickmark-positive{
    border-color: #216bf366
  }
  .tickmark-negative{
    border-color: #c40c0c66
  }
  .tickmark-warning{
    border-color: #d66a0466
  }
  .tickmark-active{
    border-color: #22a54e66
  }

  /* On mouse-hover */
  .check-container:hover input ~ .tickmark-positive,
  .check-container:hover input ~ .tickmark-negative,
  .check-container:hover input ~ .tickmark-warning,
  .check-container:hover input ~ .tickmark-active{
    background-color: #fff;
    border-radius:35%;
    box-shadow:2px 2px 2px #00000022;
  }
  .check-container:hover input ~ .tickmark-positive{
    border-color: #216bf3
  }
  .check-container:hover input ~ .tickmark-negative{
    border-color: #c40c0c
  }
  .check-container:hover input ~ .tickmark-warning{
    border-color: #d66a04
  }
  .check-container:hover input ~ .tickmark-active{
    border-color: #22a54e
  }

  /* When the checkbox is checked */
  .check-container input:checked ~ .tickmark-positive,
  .check-container input:checked ~ .tickmark-negative,
  .check-container input:checked ~ .tickmark-warning,
  .check-container input:checked ~ .tickmark-active {
    border-radius:50%;
  }
  .check-container input:checked ~ .tickmark-positive{
    background-color: #216bF3;
    border-radius:50%;
  }
  .check-container input:checked ~ .tickmark-negative {
    background-color: #c40c0c;
    border-radius:50%;
  }
  .check-container input:checked ~ .tickmark-warning{
    background-color: #d66a04;
    border-radius:50%;
  }
  .check-container input:checked ~ .tickmark-active {
    background-color: #22a54e;
    border-radius:50%;
  }
  /* Create the checkmark/indicator (hidden when not checked) */
  .tickmark-positive:after,
  .tickmark-negative:after,
  .tickmark-warning:after,
  .tickmark-active:after{
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .check-container input:checked ~ .tickmark-positive:after,
  .check-container input:checked ~ .tickmark-negative:after,
  .check-container input:checked ~ .tickmark-warning:after,
  .check-container input:checked ~ .tickmark-active:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .check-container .tickmark-positive:after,
  .check-container .tickmark-negative:after,
  .check-container .tickmark-warning:after,
  .check-container .tickmark-active:after{
    left: 8px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
