:root {
    --positive: #216bf3;
    /* --negative: #c40c0c; */
    --negative: #c02e2e;
    --warning: #f77f00;
    /* --active: #00893E; */
    --active: #117255;
    --base: #efefef;
    --base-text: #000000;
    --secondary:#ffffff;
    --secondary-text:#121212;
    --tertiary-text:#00000093;
    --dead-text:#343434;
    --light-base:#eeeeeeee;
    --base-radius:12px;
    --trans-delay:0.3s ease;
}

[data-theme="dark"] {
    --positive: #739dec;
    --negative: #da5f5f;
    --warning: #fcbf49;
    --active: #00cc88;
    --base: #232323;
    --base-text: #ffffff;
    --secondary:#101010;
    --secondary-text:#dedede;
    --tertiary-text:#ffffff6c;
    --dead-text:#dedede;
    --light-base:#222222ee;
}

html{
    scroll-behavior: smooth;
    position: relative;
    top:0;
    bottom:0;
    left:0;
    right:0;
    box-sizing:border-box;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
}*,*:before,*:after{box-sizing:inherit}
body{
    font-size:18px;
    font-family: 'Jost',sans-serif;
    color: var(--base-text);
    background-color: var(--base);
    margin:0;
}
/* Custom scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 5px;
    border-radius:8px;
    transition:0.4s ease
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
    border-radius:8px;
    transition:0.4s ease

  }

  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius:4px;
    background: var(--positive);
    transition:0.4s ease 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #173dbd;
    transition:0.4s ease 
  }
  ::-webkit-scrollbar-thumb:focus {
    background: #0f256d;
    transition:0.4s ease 
  }

a{
    text-decoration: none;
    color:var(--positive);
    transition:var(--trans-delay);
    cursor: pointer;
}
a:hover{
    color:#147aff;
    padding:0 4px;
    text-shadow: 1px 1px 2px #00000034;
}
a:active{
    color:#034ace34;
    padding:0 8px;
}

img{vertical-align:middle}

.caption{
    font-size: 16px;
    font-weight: 500;
    color: var(--base-text);
}
.error-caption{
    font-size: 16px;
    font-weight: 500;
    color: var(--negative);
    font-family: 'Questrial', sans-serif
}
.editable{
    color:#00559b;
    font-size: 22px;
}
#topBar{
    font-family:'Questrial',sans-serif;
    color:var(--secondary);
    background-color: var(--positive);
    font-size: 18px;
    padding: 8px;
    position:fixed;width:100%;z-index:1;
    top:0;
    box-shadow:0 4px 10px 0 #00000033,0 4px 20px 0 #00000030;
}

#snackButton {
    display: none;
}
#snackText{
    float:left;
    padding:8px 12px;
}

.searcher {
    width: 40px;
    height:40px;
    box-sizing: border-box;
    border:0;
    padding:0px;
    border-radius: 50%;
    color:var(--secondary);
    font-size: 18px;
    outline:none;
    background-image: url('/graphic/searchicon.svg');
    background-position: 100%;
    background-color: #ffffff00;
    background-repeat: no-repeat;
    -webkit-transition: width 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
  }

  .searcher:hover{
      box-shadow: 1px 5px 5px #00000022;
      cursor: pointer;
  }
  .searcher:focus {
    padding:4px 40px 4px 12px;
    background-color: #153e8bb2;
    border-radius: 8px;
    width: 50%;
    box-shadow: 1px 5px 5px #00000032;
    cursor: text;
  }

#navLoader{
    display:none;
    width:40;
}
.container{
    color: var(--base-text);
    background-color: var(--secondary);
    border-radius: 12px;
    font-size:22px;
    padding:22px;
    box-shadow: 1px 5px 10px #00000011;
    transition: var(--trans-delay);
}

.container:hover{
    box-shadow: 1px 5px 10px #00000044;
}
.sub-container{
    color: var(--base-text);
    background-color: var(--base);
    border-radius: 12px;
    font-size:22px;
    padding:14px;
    box-shadow: 1px 5px 10px #00000011;
    transition: var(--trans-delay);
}
.bottom-container{
    color:var(--secondary);
    background-color: var(--positive);
    font-size: 18px;
    border-radius: 8px 8px 0 0;
    box-shadow: 1px 5px 10px #00000088;
    padding:4px 8px 4px 8px;
}
.heading{
    color:var(--positive);
    font-size: 54px;
}
.sub-heading{
    color:var(--base-text);
    font-size: 44px;
}
.group-heading{
    color:var(--base-text);
    text-align:center;
    font-family: 'Jost',sans-serif;
    font-size: 32px;
}
.group-text{
    color:var(--tertiary-text);
    text-align:left;
    font-family: 'Questrial',sans-serif;
    font-size: 18px;
}
.leftTabGroup{
    text-align:right;
    min-width: 25%;
    width:25%;
    margin-top:28px;
    position: relative;
    float:bottom;
}
.leftTabButton{
    border-radius: 18px 0px 0px 18px;
    padding:4px 12px 4px 12px;
    border-width: 0;
    background-color: transparent;
    color:var(--base-text);
    transition:0.2s ease;
}
.leftTabButton:hover{
    background-color: var(--base);
    box-shadow: 1px 5px 10px #00000011;
    border-radius: 18px;
    color:var(--positive);
    cursor: pointer;
    transition:0.2s ease;
}
.questrial{
    font-family:'Questrial',sans-serif;
}

.positive{
    color:var(--positive);
}
.negative{
    color:var(--negative);
}
.neutral{
    color:var(--secondary)
}
.active{
    color:var(--active)
}
.warning{
    color:var(--warning)
}
.b-positive{
    color:var(--secondary);
    background-color: var(--positive);
}
.b-negative{
    color:var(--secondary);
    background-color:var(--negative);
}
.b-neutral{
    background-color:var(--secondary);
}
.b-active{
    color:var(--secondary);
    background-color:var(--active);
}
.b-warning{
    color:var(--secondary);
    background-color:var(--warning);
}
.show{
    display:block
}
.hide{
    display:none
}
.wide{
    width:100%;
}
.three-fourth{
    width:75%;
}
.two-third{
    width:66.666%;
}
.three-fifth{
    width:60%;
}
.half{
    width:50%;
}
.two-fifth{
    width:40%;
}
.third{
    width:33.333%;
}
.fourth{
    width:25%;
}
.fifth{
    width:20%;
}
.sixth{
    width:16.666%;
}

.pointer{
    cursor:pointer;
}
.break{
    overflow-wrap: break-word;
}

.tab-container{
    border-radius: 12px;
    padding:8px 12px;
    margin:6px 0;
    box-shadow: 1px 5px 10px #00000011;
    transition: var(--trans-delay);
}

.tab-container:hover{
    box-shadow: 1px 5px 10px #00000044;
}

.tab-button-selected,.tab-button{
    padding:8px;
    font-family:'Questrial', sans-serif;
    border:2px solid var(--positive);
    transition:0.3s;
}
.tab-button-selected{
    border-width:4px 4px 0 4px;
    background-color: var(--secondary);
    border-radius:4px 4px 0 0;
    box-shadow:1px -2px 8px #23232325;
    color:var(--positive);
    font-weight: bold;
}
.tab-button{
    border-width: 0 0 4px 0;
    background-color: var(--base);
    border-radius:4px 4px 0 0;
    color:var(--base-text);
    font-weight: lighter;
    cursor:pointer;
}
.tab-button:hover{
    background-color: #0259fa0e;
    border-width:4px 0px 0 0px;
    color:var(--base-text);
    box-shadow:1px -2px 8px #23232325;
    border-color:var(--positive);
}
.tab-button:active{
    background-color: #216bf355;
    border-width:4px 4px 0 4px;
    border-color:var(--positive);
}

.tab-view{
    color: var(--base-text);
    background-color: var(--base);
    margin:4px;
    font-size:22px;
    padding:12px 12px;
    border-radius:8px;
    transition: var(--trans-delay);
}

.fit-container{
    color: var(--base-text);
    background-color: var(--secondary);
    border-radius: 12px;
    font-size:22px;
    margin:8px 0;
    padding:0px;
    box-shadow: 1px 5px 10px #00000011;
    transition: var(--trans-delay);
}

.fit-container:hover{
    box-shadow: 1px 5px 10px #00000044;
}

.tab-section{
    outline:none;
    padding: 12px 18px;
    color:var(--base);
    background-color: transparent;
    border: 4px solid var(--positive);
    border-radius: 8px;
    transition: var(--trans-delay);
    cursor:pointer;
}
.tab-section-selected{
    outline:none;
    padding: 12px 18px;
    color:var(--base);
    border: 4px solid var(--positive);
    transition: var(--trans-delay);
    cursor:pointer;
    outline:none;
    padding: 12px 18px;
    background-color: #00000031;
    border-bottom: 4px solid var(--base);
}

.tab-section:active{
    border-top: 4px solid var(--base);
    background-color: #00000031;
}

.bottom-tab{
    bottom:0;
    background-color: var(--secondary);
    border-radius:4px 4px 0 0;
    box-shadow: -5px -5px 10px #00000011;
    font-family:'Questrial','sans-serif';
    font-weight:bold;
    transition: var(--trans-delay);
    position:fixed;
    width:100%;
    z-index:1
}
.bottom-tab-section{
    color:var(--dead-text);
    background:var(--secondary);
    border-radius:4px 4px 0 0;
    transition:var(--trans-delay);
    padding:4px 8px;
    font-size:14px;
    outline:none;
    border:0;
    cursor:pointer;
}
.bottom-tab-section:active{
    color:var(--positive);
    background:var(--base);
}
/* .bottom-tab-section:focus{
    color:var(--positive);
    background:#eee;
    font-size:44px;
} */
.bottom-tab-section-selected{
    color:var(--positive);
    background:#216bf333;
    font-size:16px;
    border-radius:4px 4px 0 0;
    transition:var(--trans-delay);
    padding:4px 8px;
    font-size:14px;
    outline:none;
    border:0;
    cursor:pointer;
}
.bottom-tab-section-selected:active{
    color:var(--positive);
    background:var(--base);
}
.leftTabButtonSelected{
    margin:4px 0px 4px 0px;
    border-width: 0;
    border-radius: 18px 0px 0px 18px;
    padding:4px 12px 4px 12px;
    background-color: var(--positive);
    color:var(--secondary);
    box-shadow: 0px 6px 15px #00000022;
    transition:0.2s ease;
}
.tabContainerRight{
    color: var(--secondary);
    background-color: var(--positive);
    border-radius: 12px;
    font-size:22px;
    padding:4px;
    transition: var(--trans-delay);
    box-shadow: 0px 6px 15px #00000033;
    transition:var(--trans-delay);
}

.text-field{
    border-radius: 8px;
    border-color: #218ef3d0;
    padding:0 4px 8px 8px;
    outline:none;
    border-width: 2px;
    color:var(--positive);
    font-size: 16px;transition: 0.5s ease;
    border-style:solid;
    margin:8px 4px;
}
.text-field:hover{
    outline:none;
    color:var(--positive);
    border-color: var(--positive);
    border-width: 3px;
    transition: 0.5s ease;
}
.text-field-error{
    border: 3px solid var(--negative);
    border-radius: 8px;
    padding:0 4px 8px 8px;
    outline:none;
    color:var(--negative);
    font-size: 16px;
    transition: 0.5s ease;
    margin:4px 2px;
}
.text-field-warn{
    border: 3px solid var(--warning);
    border-radius: 8px;
    padding:0 4px 8px 8px;
    outline:none;
    color:var(--warning);
    font-size: 16px;transition: 0.5s ease;
    margin:4px 2px;
}

.text-field-active{
    border: 3px solid var(--active);
    border-radius: 8px;
    padding:0 4px 8px 8px;
    outline:none;
    color:var(--active);
    font-size: 16px;
    transition: 0.5s ease;
    margin:6px 4px;
}
.text-input{
    padding:0;
    color:var(--base-text);
    background-color: transparent;
    border-width:0;
    width:100%;
    font-size: 24px;
}
.text-input:focus{
    outline:none;
    border-width: 0;
    background-color: transparent;
}

.field-caption{
    padding:0 4px 0 4px;
}
.box-field{
    border-radius: 8px;border-color: var(--positive);
    padding:0 4px 8px 4px;
    outline:none;
    border-width: 3px;
    color:var(--positive);
    transition: 0.5s ease;
    border-style:solid;
}

.display-button{
    background-color: var(--positive);
    color:var(--secondary);
    margin: 4px;
    border-width: 0;
    border-radius: 4px;
    box-shadow: 1px 5px 10px #00000044;
    padding: 12px 62px 12px 62px; font-size:38px;
    transition: 0.2s ease;
    cursor: pointer;

}
.display-button:focus{
    outline:none;
    background-color: #94a5db;
    box-shadow: 1px 5px 5px #00000010;
}
.sub-display-button{
    background-color: var(--secondary);
    color:var(--positive);
    border-width: 0;
    border-radius: 4px;
    box-shadow: 1px 5px 10px #00000044;
    padding: 8px 32px 8px 32px; font-size:24px;
    transition: 0.2s ease;
    cursor: pointer;
}
.sub-display-button:focus{
    outline: none;
    background-color: var(--light-base);

}
.positive-button{
    background-color: var(--positive);
    color:var(--secondary);
    margin: 4px;
    border-width: 0;
    border-radius: 4px;
    box-shadow: 1px 5px 10px #00000022;
    padding:4px 12px 4px 12px;
    transition: var(--trans-delay);
    cursor: pointer;
}
.positive-button:hover{
    box-shadow: 1px 5px 18px #00000044;
}
.positive-button:focus{
    outline:none;
    background-color: #94a5db;
    box-shadow: 1px 5px 10px #00000011;
}

.positive-button-togg{
    outline:none;
    background-color: var(--positive);
    color:var(--secondary);
    margin: 4px;
    border-width: 0;
    border-radius: 4px;
    box-shadow: 1px 5px 10px #00000022;
    padding:4px 12px 4px 12px;
    transition: var(--trans-delay);
    cursor: pointer;
}
.positive-button-togg:active{
    outline:none;
    background-color: #94a5db;
    box-shadow: 1px 5px 10px #00000011;
}
.active-button{
    background-color: var(--active);
    color:var(--secondary);
    margin: 4px;
    border-width: 0;
    border-radius: 4px;
    box-shadow: 1px 5px 10px #00000022;
    padding:4px 12px 4px 12px;
    transition: 0.2s ease;
    cursor: pointer;
}
.active-button:hover{
    box-shadow: 1px 5px 18px #00000044;
}
.active-button:focus{
    outline:none;
    background-color: #81be7c;
    box-shadow: 1px 5px 10px #00000011;
}
.neutral-button{
    background-color: var(--secondary);
    color:var(--positive);
    margin: 4px;
    border-width: 0;
    border-radius: 4px;
    box-shadow: 1px 5px 10px #00000022;
    padding:4px 12px 4px 12px;
    transition: 0.2s ease;
    cursor: pointer;
}
.neutral-button:hover{
    box-shadow: 1px 5px 18px #00000044;
}
.neutral-button:focus{
    outline:none;
    background-color: var(--light-base);
    box-shadow: 1px 5px 5px #00000000;
}

.neutral-button-togg{
    outline:none;
    background-color: var(--secondary);
    color:var(--positive);
    margin: 4px;
    border-width: 0;
    border-radius: 4px;
    box-shadow: 1px 5px 10px #00000022;
    padding:4px 12px 4px 12px;
    transition: 0.2s ease;
    cursor: pointer;
}
.neutral-button-togg:active{
    outline:none;
    background-color: var(--light-base);
    box-shadow: 1px 5px 5px #00000000;
}
.negative-button{
    background-color: var(--negative);
    color:var(--secondary);
    margin: 4px;
    border-width: 0;
    border-radius: 4px;
    box-shadow: 1px 5px 10px #00000022;
    padding:4px 12px 4px 12px;
    transition: 0.2s ease;
    cursor: pointer;
}
.negative-button:hover{
    box-shadow: 1px 5px 18px #00000044;
}
.negative-button:focus{
    outline:none;
    background-color: #db94a5;
    box-shadow: 1px 5px 10px #00000011;
}
.warning-button{
    background-color: var(--warning);
    color:var(--secondary);
    margin: 4px;
    border-width: 0;
    border-radius: 4px;
    box-shadow: 1px 5px 10px #00000022;
    padding:4px 12px 4px 12px;
    transition: 0.2s ease;
    cursor: pointer;
}
.warning-button:hover{
    box-shadow: 1px 5px 18px #00000044;
}
.warning-button:focus{
    outline:none;
    background-color: #7e4a06;
    box-shadow: 1px 5px 10px #00000011;
}
.circle-button{
    background-color: var(--secondary);
    padding:8px;
    border-width:0;
    border-radius:50%;
    box-shadow: 1px 5px 10px #00000022;
    transition:0.2s ease;
    cursor: pointer;
}
.circle-button:focus{
    outline:none;
    background-color: var(--base);
}

.snack-neutral{
    z-index:3;
    display:none;
    position: fixed;
    bottom:0;
    padding:4px;
    float:bottom;
    box-shadow: 1px 5px 5px #00000044;
    border-radius:4px;
    background-color: var(--secondary);
    color:var(--positive);
    margin:12px;
    transition:var(--trans-delay);
    font-size: 18px;
    font-family: 'Questrial',sans-serif;
}
.snack-positive{
    z-index:3;
    display:none;
    position: fixed;
    bottom:0;
    padding:4px;
    float:bottom;
    box-shadow: 1px 5px 5px #00000044;
    border-radius:4px;
    background-color: var(--positive);
    color:var(--secondary);
    margin:12px;
    transition:var(--trans-delay);
    font-size: 18px;
    font-family: 'Questrial',sans-serif;
}
.snack-negative{
    z-index:3;
    display:none;
    position: fixed;
    bottom:0;
    padding:4px;
    float:bottom;
    box-shadow: 1px 5px 5px #00000044;
    border-radius:4px;
    background-color: var(--negative);
    color:var(--secondary);
    margin:12px;
    transition:var(--trans-delay);
    font-size: 18px;
    font-family: 'Questrial',sans-serif;
}
.snack-warn{
    z-index:3;
    display:none;
    position: fixed;
    bottom:0;
    padding:4px;
    float:bottom;
    box-shadow: 1px 5px 5px #00000044;
    border-radius:4px;
    background-color: var(--warning);
    color:var(--secondary);
    margin:12px;
    transition:var(--trans-delay);
    font-size: 18px;
    font-family: 'Questrial',sans-serif;
}
.snack-active{
    z-index:3;
    display:none;
    position: fixed;
    bottom:0;
    padding:4px;
    float:bottom;
    box-shadow: 1px 5px 5px #00000044;
    border-radius:4px;
    background-color: var(--active);
    color:var(--secondary);
    margin:12px;
    transition:var(--trans-delay);
    font-size: 18px;
    font-family: 'Questrial',sans-serif;
}

.dialog{
    z-index:2;
    display:none;
    padding-top:80px;
    padding-bottom:80px;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color: var(--positive);
}
.dialog-box{
    margin:auto;
    background-color:var(--secondary);
    position:relative;
    padding:22px 0;
    outline:0;
    overflow-wrap:anywhere;
    width:80%;
}
@media (max-width:600px){.dialog-box{margin:0 10px;width:auto!important}.dialog{padding-top:30px}}
@media (max-width:768px){.dialog-box{width:500px}.dialog{padding-top:50px}}

#dialogContent{
    padding:4px 8px!important;
}
#dialogHeading{
    color:var(--positive);
    text-align:center;
    font-family: 'Jost',sans-serif;
    font-size: 32px;
}
#dialogSubHeading{
    color:var(--base-text);
    text-align:left;
    padding: 4px 4px;
    font-family: 'Questrial',sans-serif;
    font-size: 20px;
}
#dialogActions{
    padding:8px 4px 0px 4px!important;
}
.image-text-button{
    color:var(--base-text);
    border-width: 0;
    font-size: 22px;
    box-shadow: 1px 5px 10px #00000044;
    background-color: var(--secondary);
    padding:0;
    width: 100%;
    font-family: 'Questrial',sans-serif;
    position: relative;
    border-radius: 12px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.image-text-button:hover{
    background-color: var(--light-base);
    box-shadow: 1px 5px 20px #00000079;
}
.image-text-button:focus{
    outline:none;

    background-color: var(--base);
    box-shadow: 2px 2px 2px 2px #00000011;
}

/* Create custom radio button*/
.radio-container {
    position: relative;
    cursor: pointer;
    font-size: 18px;
    padding: 8px 8px 6px 34px;
    margin:4px;
    background-color: var(--base);
    border-radius:18px;
    font-family:'Questrial',sans-serif;
    -webkit-user-select: none;
    width:fit-content;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition:var(--trans-delay);
  }
  
  /* Hide the browser's default radio button */
  .radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 0px;
    width: 0px;
    margin:4px;
    display:none;
    background-color: var(--positive);
    border-radius: 50%;
    box-shadow: 1px 5px 10px #00000022;
    transition:var(--trans-delay);
  }
  
  .radio-container:hover{
    background-color: var(--secondary);
  }
  .radio-container:active{
    background-color: var(--positive);
    color:var(--secondary);
  }
  
  /* When the radio button is checked, add a blue background */
  .radio-container input:checked ~ .checkmark {
    display:block;
    height: 25px;
    width: 25px;
    background-color: var(--positive);
  }
  .radio-container input ~ .checkmark {
    display:block;
    height: 25px;
    width: 25px;
    background-color: var(--base);
  }
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    transition:var(--trans-delay);
  }
  
  /* Show the indicator (dot/circle) when checked */
  .radio-container input:checked ~ .checkmark:after {
    display: block;
    transition: var(--trans-delay);
  }
  
  /* Style the indicator (dot/circle) */
  .radio-container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--base);
  }

 
/* The container */
.radio-box-container {
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    width:100%;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition:var(--trans-delay);
  }
  
  /* Hide the browser's default radio button */
  .radio-box-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .radio-box-mark {
    position: relative;
    height: fit-content;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    padding:8px;
    border: 2px solid var(--secondary);
    background-color: var(--secondary);
    border-radius:8px;
    transition:var(--trans-delay);
  }
  
  /* On mouse-over, add a grey background color */
  .radio-box-container:hover input ~ .radio-box-mark {
    background-color: var(--positive);
    border: 2px solid var(--positive);
    color:var(--secondary);
    transition:var(--trans-delay);
    box-shadow:0 3px 8px 0 #00000023;
  }
  
  /* When the radio button is checked, add a blue background */
  .radio-box-container input:checked ~ .radio-box-mark {
    background-color: var(--secondary);
    color:var(--positive);
    padding:12px;
    border: 2px solid var(--positive);
    transition:var(--trans-delay);
  }
  
.dropdown {
    position: relative;
    display: inline-flex;
}
.dropdown-input{
    outline:none;
    border: 0px solid;
    border-radius:4px;
    background-color: var(--base);
    color:var(--tertiary-text);
    border:2px solid var(--positive);
    font-family: 'Questrial';
    padding:4px 8px;
    font-size: 18px;
    transition:0.2s ease;
}
.dropdown-input:focus{
    outline:none;
    background-color: var(--secondary);
    color:var(--base-text);
    box-shadow: 1px 5px 10px #00000044;   
}

.dropdown-content {
    display: none;
    position: absolute;
    border-radius:0 8px 8px 8px;
    font-size:20px;
    background-color: var(--secondary);
    box-shadow: 1px 5px 10px #00000044;
    overflow: auto;
    z-index: 1;
    cursor:pointer;
    transition:var(--trans-delay);

  }
  
.dropdown-content a {
    color: var(--base-text);
    background-color: var(--secondary);
    padding: 8px 12px;
    text-decoration: none;
    display: block;
    transition:var(--trans-delay);
}
.dropdown-content a:hover {
    background-color: var(--base);
    color:var(--positive);

}

.menu {
    position: relative;
    display: inline-block;
  }
  
  .menubox {
    display: none;
    position: absolute;
    min-width: 200px;
    overflow: auto;
    right:0;
    z-index: 1;
    border:1px solid var(--positive);
    border-radius: 0 0 4px 4px;
    color:var(--base-text);
    padding:8px 0;
    box-shadow: 2px 2px 5px #00000045;
    background-color: var(--base);
  }
  
  .menubox div {
    border-width: 0;
    padding:12px;
    min-width: fit-content;
    margin:4px 0;
    transition: var(--trans-delay);
    background-color: var(--secondary);
    cursor: pointer;
  }
  
  .menubox div:hover {color: var(--positive);}

.menubox div:active{
    background-color: var(--light-base);
    opacity:50%;
}