.navigation{
    background-color: #2196f3;
    color: white;
    font-size: 18px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 100%;
    padding: 8px 12px 8px 12px;
    box-shadow: 0 8px 12px 0 #00000031;
    transition: 0.4s ease;
}
.text-button{
    outline:none;
    color:#2196f3;
    background-color: white;
    border-radius: 8px;
    border-width: 0px;
    font-weight: 600;
    padding: 8px 12px 8px 12px;
    transition:0.3s ease;
}
.text-button:focus{
    background-color: #abc6dd;
}
.circle-image-button{
    border-radius: 50%;
    border-width: 4px;
    border-color: white;
    transition: 0.3s ease;
}
.circle-image-button:focus{
    opacity: 0.8;
}
.header{
    padding: 12px 22px 12px 22px
}
.body-text{
    font-size: 38px;
    font-weight: bold;
}
.body-text-med{
    font-size: 28px;
    
}
.circle-text{
    background-color: #2196f3;
    color:white;
    padding: 18px;
    font-size: 32px;
    border-radius: 50%;
}
.table-body{
    margin:12px;
    padding:22px;
    background-color: #2196f3;
    color: white;
    border-radius:8px;
    box-shadow: 0 8px 16px 0 #00000031;
}
.table-row{
    margin-top: 12px;
    border-radius: 8px;
    transition: 0.3s ease;
}
.table-row:hover,.table-row:focus{
    background-color: #1971b9;
}
.table-cell{
    padding:22px;
    text-align: center;
    border-radius:8px;
    font-size: 22px;
}
.table-cell-button{
    text-align: center;
    padding:22px;
    font-size: 24px;
    color:#2196f3;
    background-color: white;
    border-radius:8px;
    transition:0.3s ease
}
.table-cell-button:hover{
    background-color: #efefef;   
    box-shadow: 0 8px 16px 0 #0000005b;
    font-size:48px
}
.table-cell-button:focus{
    font-size: 18px;   
}