html{
    scroll-behavior: smooth;
    position: relative;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

/* Custom scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 5px;
    border-radius:8px;
    transition:0.4s ease
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
    border-radius:8px;
    transition:0.4s ease

  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius:4px;
    background: #216bf3;
    transition:0.4s ease 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #173dbd;
    transition:0.4s ease 
  }
  ::-webkit-scrollbar-thumb:focus {
    background: #0f256d;
    transition:0.4s ease 
  }


body{
    font-size:18px;
    font-family: 'Jost',sans-serif;
    background-color: #efefef;
}
a{
    text-decoration: none;
    transition: 0.5s ease;
}
a:hover{
    color:#216bf3;
}

a:focus{
    font-size: 16px;
}

.caption{
    font-size: 16px;
    font-weight: 500;
    color: #000000af;
}
.editable{
    color:#00559b;
    font-size: 22px;
}
#topBar{
    color:white;
    background-color: #216bf3;
    font-size: 18px;
}
.circle-button{
    padding: 4px;
    background-color: #216bf3;
    border-radius: 50%;
    transition:0.3s ease;
}
.circle-button:focus{
    padding:8px;
    background-color: #90c3ec;
}
.container{
    color: black;
    background-color: white;
    border-radius: 12px;
    font-size:22px;
    padding:22px;
    box-shadow: 1px 5px 10px #00000011;
    transition: 0.3s ease;
}

.container:hover{
    box-shadow: 1px 5px 10px #00000044;
}
.sub-container{
    color: black;
    background-color: #efefef;
    border-radius: 12px;
    font-size:22px;
    padding:14px;
    box-shadow: 1px 5px 10px #00000011;
    transition: 0.3s ease;
}
.bottom-container{
    color:white;
    background-color: #216bf3;
    font-size: 18px;
    border-radius: 8px 8px 0 0;
    box-shadow: 1px 5px 10px #00000088;
    padding:4px 8px 4px 8px;
}
.heading{
    color:#216bf3;
    font-size: 54px;
    
}
.sub-heading{
    color:black;
    font-size: 44px;
}
.group-heading{
    color:#000000d7;
    float:left;
    text-align:left;
    font-family: 'Jost',sans-serif;
    font-size: 32px;
}
.group-text{
    color:#00000093;
    text-align:left;
    float:left;
    font-family: 'Questrial',sans-serif;
    font-size: 18px;
}
.leftTabGroup{
    text-align:right;
    min-width: 25%;
    width:25%;
    margin-top:28px;
    position: relative;
    float:bottom;
}
.leftTabButton{
    border-radius: 18px 0px 0px 18px;
    padding:4px 12px 4px 12px;
    border-width: 0;
    background-color: transparent;
    color:black;
    transition:0.2s ease;
}
.leftTabButton:hover{
    background-color: #efefef;
    box-shadow: 1px 5px 10px #00000011;
    color:#121212d8;
}
.leftTabButton:focus{
    background-color: #efefefbb;
    box-shadow: 1px 1px 1px #00000010;
}
.leftTabButtonSelected{
    margin:4px 0px 4px 0px;
    border-width: 0;
    border-radius: 18px 0px 0px 18px;
    padding:4px 12px 4px 12px;
    background-color: #216bf3;
    color:white
}
.tabContainerRight{
    color: white;
    background-color: #216bf3;
    border-radius: 18px;
    font-size:22px;
    padding:14px;
    transition: 0.3s ease;
}
input{
    padding:0;
    color:black;
    background-color: transparent;
    border-width:0;
    width:100%;
    font-size: 24px;
}
input:focus{
    outline:none;
    border-width: 0;
    background-color: transparent;
}
.text-field{
    border-radius: 8px;border-color: #218ef3d0;padding:0 4px 8px 8px;outline:none;border-width: 2px; color:#216bf3;
    font-size: 16px;transition: 0.5s ease;
}
.text-field:hover{
    outline:none;
    color:#216bf3;
    border-color: #216bf3;
    border-width: 3px;
    transition: 0.5s ease;
}
.text-field-error{
    border-radius: 8px;border-color: #bd1919;padding:0 4px 8px 8px;outline:none;border-width: 3px; color:#bd1919;
    font-size: 16px;transition: 0.5s ease;
}
.field-caption{
    padding:0 4px 0 4px;

}
.display-button{
    background-color: #216bf3;
    color:white;
    margin: 4px;
    border-width: 0;
    border-radius: 4px;
    box-shadow: 1px 5px 10px #00000044;
    padding: 12px 62px 12px 62px; font-size:38px;
    transition: 0.2s ease;

}
.display-button:focus{
    outline:none;
    background-color: #94a5db;
    box-shadow: 1px 5px 5px #00000010;
}
.sub-display-button{
    background-color: white;
    color:#216bf3;
    border-width: 0;
    border-radius: 4px;
    box-shadow: 1px 5px 10px #00000044;
    padding: 8px 32px 8px 32px; font-size:24px;
    transition: 0.2s ease;

}
.sub-display-button:focus{
    outline: none;
    background-color: #ededed;

}
.positive-button{
    background-color: #216bf3;
    color:white;
    margin: 4px;
    border-width: 0;
    border-radius: 4px;
    box-shadow: 1px 5px 10px #00000022;
    padding:4px 12px 4px 12px;
    transition: 0.2s ease;
}
.positive-button:focus{
    outline:none;
    background-color: #94a5db;
    box-shadow: 1px 5px 10px #00000011;
}
.negative-button{
    background-color: #c40c0c;
    color:white;
    margin: 4px;
    border-width: 0;
    border-radius: 4px;
    box-shadow: 1px 5px 10px #00000022;
    padding:4px 12px 4px 12px;
    transition: 0.2s ease;
}
.negative-button:focus{
    outline:none;
    background-color: #db94a5;
    box-shadow: 1px 5px 10px #00000011;
}
.warning-button{
    background-color: #d6b915;
    color:black;
    margin: 4px;
    border-width: 0;
    border-radius: 4px;
    box-shadow: 1px 5px 10px #00000022;
    padding:4px 12px 4px 12px;
    transition: 0.2s ease;
}
.warning-button:focus{
    outline:none;
    background-color: #81700c;
    box-shadow: 1px 5px 10px #00000011;
}
.image-text-button{
    color:black;
    border-width: 0;
    font-size: 22px;
    box-shadow: 1px 5px 10px #00000044;
    background-color: #ffffffff;
    padding:0;
    width: 100%;
    font-family: 'Questrial',sans-serif;
    position: relative;
    border-radius: 12px;
    transition: 0.2s ease-in-out;
}
.image-text-button:hover{
    background-color: #ffffffc7;
    box-shadow: 1px 5px 20px #00000079;
}
.image-text-button:focus{
    outline:none;
    color:#00000066;
    background-color: #ffffff98;
    box-shadow: 2px 2px 2px 2px #00000011;
}
