html{
    scroll-behavior: smooth;
    position: relative;
    top:0;
    bottom:0;
    left:0;
    right:0;
    box-sizing:border-box;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
}*,*:before,*:after{box-sizing:inherit}
body{
    font-size:18px;
    font-family: 'Jost',sans-serif;
    background-color: #efefef;
    margin:0;
}
/* Custom scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 5px;
    border-radius:8px;
    transition:0.4s ease
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
    border-radius:8px;
    transition:0.4s ease

  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius:4px;
    background: #216bf3;
    transition:0.4s ease 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #173dbd;
    transition:0.4s ease 
  }
  ::-webkit-scrollbar-thumb:focus {
    background: #0f256d;
    transition:0.4s ease 
  }

a{
    text-decoration: none;
    
}
a:hover{
    color:#216bf3;
}

a:focus{
    font-size: 16px;
}
img{vertical-align:middle}
.caption{
    font-size: 16px;
    font-weight: 500;
    color: #000000af;
}
.error-caption{
    font-size: 16px;
    font-weight: 500;
    color: #c40c0c;
}
.editable{
    color:#00559b;
    font-size: 22px;
}
#topBar{
    color:white;
    background-color: #216bf3;
    font-size: 18px;
    padding: 8px;
}
#navLoader{
    display:none;
    width:40;
}
.container{
    color: black;
    background-color: white;
    border-radius: 12px;
    font-size:22px;
    padding:22px;
    box-shadow: 1px 5px 10px #00000011;
    transition: 0.3s ease;
}

.container:hover{
    box-shadow: 1px 5px 10px #00000044;
}
.sub-container{
    color: black;
    background-color: #efefef;
    border-radius: 12px;
    font-size:22px;
    padding:14px;
    box-shadow: 1px 5px 10px #00000011;
    transition: 0.3s ease;
}
.bottom-container{
    color:white;
    background-color: #216bf3;
    font-size: 18px;
    border-radius: 8px 8px 0 0;
    box-shadow: 1px 5px 10px #00000088;
    padding:4px 8px 4px 8px;
}
.heading{
    color:#216bf3;
    font-size: 54px;
    
}
.sub-heading{
    color:black;
    font-size: 44px;
}
.group-heading{
    color:#000000d7;
    
    text-align:center;
    font-family: 'Jost',sans-serif;
    font-size: 32px;
}
.group-text{
    color:#00000093;
    text-align:left;
    font-family: 'Questrial',sans-serif;
    font-size: 18px;
}
.leftTabGroup{
    text-align:right;
    min-width: 25%;
    width:25%;
    margin-top:28px;
    position: relative;
    float:bottom;
}
.leftTabButton{
    border-radius: 18px 0px 0px 18px;
    padding:4px 12px 4px 12px;
    border-width: 0;
    background-color: transparent;
    color:black;
    transition:0.2s ease;
}
.leftTabButton:hover{
    background-color: #efefef;
    box-shadow: 1px 5px 10px #00000011;
    border-radius: 18px;
    color:#216bf3;
    cursor: pointer;
}
.leftTabButton:focus{
    background-color: #216bf39d;
    box-shadow: 0 #00000000;
}
.leftTabButtonSelected{
    margin:4px 0px 4px 0px;
    border-width: 0;
    border-radius: 18px 0px 0px 18px;
    padding:4px 12px 4px 12px;
    background-color: #216bf3;
    color:white
}
.tabContainerRight{
    color: white;
    background-color: #216bf3;
    border-radius: 12px;
    font-size:22px;
    padding:4px;
    transition: 0.3s ease;
}

.text-field{
    border-radius: 8px;border-color: #218ef3d0;padding:0 4px 8px 8px;outline:none;border-width: 2px; color:#216bf3;
    font-size: 16px;transition: 0.5s ease;
    border-style:solid;
}
.text-input{
    padding:0;
    color:black;
    background-color: transparent;
    border-width:0;
    width:100%;
    font-size: 24px;
}
.text-input:focus{
    outline:none;
    border-width: 0;
    background-color: transparent;
}
.text-field:hover{
    outline:none;
    color:#216bf3;
    border-color: #216bf3;
    border-width: 3px;
    transition: 0.5s ease;
}
.text-field-error{
    border: 3px solid #c40c0c;
    border-radius: 8px;
    padding:0 4px 8px 8px;
    outline:none;
    color:#c40c0c;
    font-size: 16px;transition: 0.5s ease;
}
.field-caption{
    padding:0 4px 0 4px;
}
.box-field{
    border-radius: 8px;border-color: #216bf3;
    padding:0 4px 8px 4px;
    outline:none;
    border-width: 3px;
    color:#216bf3;
    transition: 0.5s ease;
    border-style:solid;
}

.display-button{
    background-color: #216bf3;
    color:white;
    margin: 4px;
    border-width: 0;
    border-radius: 4px;
    box-shadow: 1px 5px 10px #00000044;
    padding: 12px 62px 12px 62px; font-size:38px;
    transition: 0.2s ease;
    cursor: pointer;

}
.display-button:focus{
    outline:none;
    background-color: #94a5db;
    box-shadow: 1px 5px 5px #00000010;
}
.sub-display-button{
    background-color: white;
    color:#216bf3;
    border-width: 0;
    border-radius: 4px;
    box-shadow: 1px 5px 10px #00000044;
    padding: 8px 32px 8px 32px; font-size:24px;
    transition: 0.2s ease;
    cursor: pointer;
}
.sub-display-button:focus{
    outline: none;
    background-color: #ededed;

}
.positive-button{
    background-color: #216bf3;
    color:white;
    margin: 4px;
    border-width: 0;
    border-radius: 4px;
    box-shadow: 1px 5px 10px #00000022;
    padding:4px 12px 4px 12px;
    transition: 0.2s ease;
    cursor: pointer;
}
.positive-button:focus{
    outline:none;
    background-color: #94a5db;
    box-shadow: 1px 5px 10px #00000011;
}
.active-button{
    background-color: #22a54e;
    color:white;
    margin: 4px;
    border-width: 0;
    border-radius: 4px;
    box-shadow: 1px 5px 10px #00000022;
    padding:4px 12px 4px 12px;
    transition: 0.2s ease;
    cursor: pointer;
}
.active-button:focus{
    outline:none;
    background-color: #81be7c;
    box-shadow: 1px 5px 10px #00000011;
}
.neutral-button{
    background-color: white;
    color:#216bf3;
    margin: 4px;
    border-width: 0;
    border-radius: 4px;
    box-shadow: 1px 5px 10px #00000022;
    padding:4px 12px 4px 12px;
    transition: 0.2s ease;
    cursor: pointer;
}
.neutral-button:focus{
    outline:none;
    background-color: #eeeeeeee;
    box-shadow: 1px 5px 5px #00000000;
}
.negative-button{
    background-color: #c40c0c;
    color:white;
    margin: 4px;
    border-width: 0;
    border-radius: 4px;
    box-shadow: 1px 5px 10px #00000022;
    padding:4px 12px 4px 12px;
    transition: 0.2s ease;
    cursor: pointer;
}
.negative-button:focus{
    outline:none;
    background-color: #db94a5;
    box-shadow: 1px 5px 10px #00000011;
}
.warning-button{
    background-color: #d66a04;
    color:rgb(255, 255, 255);
    margin: 4px;
    border-width: 0;
    border-radius: 4px;
    box-shadow: 1px 5px 10px #00000022;
    padding:4px 12px 4px 12px;
    transition: 0.2s ease;
    cursor: pointer;
}
.warning-button:focus{
    outline:none;
    background-color: #7e4a06;
    box-shadow: 1px 5px 10px #00000011;
}
.circle-button{
    background-color: #ffffff;
    padding:8px;
    border-width:0;
    border-radius:50%;
    box-shadow: 1px 5px 10px #00000022;
    transition:0.2s ease;
    cursor: pointer;
}
.circle-button:focus{
    outline:none;
    background-color: #efefef;
}
.snackbar{
    z-index:3;
    display:none;
    position: fixed;
    bottom:0;
    padding:4px;
    float:bottom;
    box-shadow: 1px 5px 5px #00000044;
    border-radius:4px;
    background-color: #216bf3;
    color:white;
    margin:12px;
    transition:0.3s ease;
}
.snackbar:hover{
    padding-left:12px;
    padding-right:12px;
}
.snack-text{
    color:white;
    padding:8px;
    font-size: 18px;
    font-family: 'Questrial',sans-serif;
}
.dialog{
    z-index:2;
    display:none;
    padding-top:80px;
    padding-bottom:80px;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color: #216bf3;
}
.dialog-box{
    margin:auto;
    background-color:#fff;
    position:relative;
    padding:22px 0;
    outline:0;
    width:80%;
}
@media (max-width:600px){.dialog-box{margin:0 10px;width:auto!important}.dialog{padding-top:30px}}
@media (max-width:768px){.dialog-box{width:500px}.dialog{padding-top:50px}}

#dialogContent{
    padding:4px 8px!important;
}
#dialogHeading{
    color:#216bf3;
    text-align:center;
    font-family: 'Jost',sans-serif;
    font-size: 32px;
}
#dialogSubHeading{
    color:#000000;
    text-align:left;
    padding: 4px 4px;
    font-family: 'Questrial',sans-serif;
    font-size: 20px;
}
#dialogActions{
    padding:8px 4px 0px 4px!important;
}
.image-text-button{
    color:black;
    border-width: 0;
    font-size: 22px;
    box-shadow: 1px 5px 10px #00000044;
    background-color: #ffffffff;
    padding:0;
    width: 100%;
    font-family: 'Questrial',sans-serif;
    position: relative;
    border-radius: 12px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.image-text-button:hover{
    background-color: #ffffffc7;
    box-shadow: 1px 5px 20px #00000079;
}
.image-text-button:focus{
    outline:none;
    color:#00000066;
    background-color: #ffffff98;
    box-shadow: 2px 2px 2px 2px #00000011;
}

.radio-container {
    position: relative;
    cursor: pointer;
    font-size: 18px;
    padding: 4px 8px 4px 34px;
    margin:4px;
    background-color: #efefef;
    border-radius:18px;
    -webkit-user-select: none;
    width:fit-content;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition:0.3s ease;
  }
  
  /* Hide the browser's default radio button */
  .radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 0px;
    width: 0px;
    margin:4px;
    display:none;
    background-color: #216bf3;
    border-radius: 50%;
    box-shadow: 1px 5px 10px #00000022;
  }
  
  .radio-container:hover{
    background-color: #216bf3;
    color:white;
  }
  
  /* When the radio button is checked, add a blue background */
  .radio-container input:checked ~ .checkmark {
    display:block;
    height: 25px;
    width: 25px;
    background-color: #216bF3;
  }
  .radio-container input ~ .checkmark {
    display:block;
    height: 25px;
    width: 25px;
    background-color: #efefef;
  }
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .radio-container input:checked ~ .checkmark:after {
    display: block;
    transition: 0.3s ease;
  }
  
  /* Style the indicator (dot/circle) */
  .radio-container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #efefef;
  }

.dropdown {
    position: relative;
    display: inline-flex;
}
.dropdown-input{
    outline:none;
    border: 0px solid;
    border-radius:8px;
    background-color: #efefef;
    color:#232323;
    padding:4px 8px;
    font-size: 18px;
    transition:0.2s ease;
}
.dropdown-input:focus{
    outline:none;
    background-color: white;
    color:black;
    box-shadow: 1px 5px 10px #00000044;   
}

.dropdown-content {
    display: none;
    position: absolute;
    border-radius:0 8px 8px 8px;
    font-size:20px;
    background-color: white;
    box-shadow: 1px 5px 10px #00000044;
    overflow: auto;
    z-index: 1;
    cursor:pointer;
    transition:0.3s ease;

  }
  
.dropdown-content a {
    color: black;
    background-color: white;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
    transition:0.3s ease;
}
.dropdown-content a:hover {
    background-color: #efefef;
    color:#216bf3;

}