<html>
    <head>
        <link rel = "stylesheet" href="/css/fmt.css">
        <link rel = "stylesheet" href="/css/main.css">
        <link rel = "stylesheet" href="/css/checkbox.css">
        <link href="/font/Jost.css" rel="stylesheet">
        <link href="/font/Questrial.css" rel="stylesheet">
        <script src="/script/codes.js"></script>
        <script src="/script/main.js"></script>
        <script src="/script/teacher/fragment/about.js"></script>
    </head>
    <body>
        <div class="fmt-col fmt-padding fmt-animate-top">
            <div class="fmt-row">
                <div class="fmt-col" style="width: 60%;">
                    <div class="sub-heading positive" style="margin-bottom: 0;padding-bottom: 0;">About</div>
                    <div class="questrial" style="margin-top: 0;padding-top: 0;">Wannabe settings</div>
                </div>
                <div class="fmt-col" style="width:40%;margin-top: 12px;">
                    <button class="fmt-right circle-button">
                        <img class="fmt-spin-fast" width="30" src="/graphic/blueLoader.svg"/><br/>
                    </button>
                </div>
            </div>
        </div>
    </body> 
</html>