html{
    scroll-behavior: smooth;
    position: relative;
    top:0;
    bottom:0;
    left:0;
    right:0;
    box-sizing:border-box;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
}*,*:before,*:after{box-sizing:inherit}
body{
    font-size:18px;
    font-family: 'Jost',sans-serif;
    background-color: #efefef;
    margin:0;
}
/* Custom scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 5px;
    border-radius:8px;
    transition:0.4s ease
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
    border-radius:8px;
    transition:0.4s ease

  }

  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius:4px;
    background: #216bf3;
    transition:0.4s ease 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #173dbd;
    transition:0.4s ease 
  }
  ::-webkit-scrollbar-thumb:focus {
    background: #0f256d;
    transition:0.4s ease 
  }

a{
    text-decoration: none;
    color:#216bf3;
    transition:0.3s ease;
    cursor: pointer;
}
a:hover{
    color:#147aff;
    padding:0 4px;
    text-shadow: 1px 1px 2px #00000034;
}
a:active{
    color:#034ace34;
    padding:0 8px;
}

img{vertical-align:middle}

.caption{
    font-size: 16px;
    font-weight: 500;
    color: #000000af;
}
.error-caption{
    font-size: 16px;
    font-weight: 500;
    color: #c40c0c;
    font-family: 'Questrial', sans-serif
}
.editable{
    color:#00559b;
    font-size: 22px;
}
#topBar{
    font-family:'Questrial',sans-serif;
    color:white;
    background-color: #216bf3;
    font-size: 18px;
    padding: 8px;
    position:fixed;width:100%;z-index:1;
    top:0;
    box-shadow:0 4px 10px 0 #00000033,0 4px 20px 0 #00000030;
}

.searcher {
    width: 40px;
    height:40px;
    box-sizing: border-box;
    border:0;
    padding:0px;
    border-radius: 50%;
    color:white;
    font-size: 18px;
    outline:none;
    background-image: url('/graphic/searchicon.svg');
    background-position: 100%;
    background-color: #ffffff00;
    background-repeat: no-repeat;
    -webkit-transition: width 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
  }

  .searcher:hover{
      box-shadow: 1px 5px 5px #00000022;
      cursor: pointer;
  }
  .searcher:focus {
    padding:4px 40px 4px 12px;
    background-color: #153e8bb2;
    border-radius: 8px;
    width: 50%;
    box-shadow: 1px 5px 5px #00000032;
    cursor: text;
  }

#navLoader{
    display:none;
    width:40;
}
.container{
    color: black;
    background-color: white;
    border-radius: 12px;
    font-size:22px;
    padding:22px;
    box-shadow: 1px 5px 10px #00000011;
    transition: 0.3s ease;
}

.container:hover{
    box-shadow: 1px 5px 10px #00000044;
}
.sub-container{
    color: black;
    background-color: #efefef;
    border-radius: 12px;
    font-size:22px;
    padding:14px;
    box-shadow: 1px 5px 10px #00000011;
    transition: 0.3s ease;
}
.bottom-container{
    color:white;
    background-color: #216bf3;
    font-size: 18px;
    border-radius: 8px 8px 0 0;
    box-shadow: 1px 5px 10px #00000088;
    padding:4px 8px 4px 8px;
}
.heading{
    color:#216bf3;
    font-size: 54px;
}
.sub-heading{
    color:black;
    font-size: 44px;
}
.group-heading{
    color:#000000d7;
    
    text-align:center;
    font-family: 'Jost',sans-serif;
    font-size: 32px;
}
.group-text{
    color:#00000093;
    text-align:left;
    font-family: 'Questrial',sans-serif;
    font-size: 18px;
}
.leftTabGroup{
    text-align:right;
    min-width: 25%;
    width:25%;
    margin-top:28px;
    position: relative;
    float:bottom;
}
.leftTabButton{
    border-radius: 18px 0px 0px 18px;
    padding:4px 12px 4px 12px;
    border-width: 0;
    background-color: transparent;
    color:black;
    transition:0.2s ease;
}
.leftTabButton:hover{
    background-color: #efefef;
    box-shadow: 1px 5px 10px #00000011;
    border-radius: 18px;
    color:#216bf3;
    cursor: pointer;
    transition:0.2s ease;
}
.questrial{
    font-family:'Questrial',sans-serif;
}

.positive{
    color:#216bf3;
}
.negative{
    color:#c40c0c;
}
.neutral{
    color:#fff
}
.active{
    color:#00893E
}
.b-positive{
    background-color: #216bf3;
}
.b-negative{
    background-color:#c40c0c;
}
.b-neutral{
    background-color:#fff;
}
.b-active{
    background-color:#00893E;
}
.show{
    display:block
}
.hide{
    display:none
}
.noshadow{
    box-shadow:0px
}
.tab-container{
    color: inherit;
    background-color: inherit;
    border-radius: 12px;
    font-size:inherit;
    padding:8px 12px;
    box-shadow: 1px 5px 10px #00000011;
    transition: 0.3s ease;
}

.tab-container:hover{
    box-shadow: 1px 5px 10px #00000044;
}

.tab-button-selected,.tab-button{
    padding:8px;
    font-family:'Questrial', sans-serif;
    border:2px solid #216bf3;
    transition:0.3s;
}
.tab-button-selected{
    border-width:2px 2px 0 2px;
    background-color: #fff;
    border-radius:4px 4px 0 0;
    color:#216bf3;
    font-weight: bold;
}
.tab-button{
    border-width: 0 0 2px 0;
    background-color: #ddd;
    border-radius:4px 4px 0 0;
    color:#161616a1;
    font-weight: lighter;
    cursor:pointer;
}
.tab-button:hover{
    background-color: #0259fa0e;
    border-width:2px 0px 0 0px;
    color:black;
    
    border-color:#216bf369;
}
.tab-button:active{
    background-color: #216bf344;
    border-width:2px 2px 0 2px;
    border-color:#216bf369;
}

.fit-container{
    color: black;
    background-color: white;
    border-radius: 12px;
    font-size:22px;
    margin:8px 0;
    padding:0px;
    box-shadow: 1px 5px 10px #00000011;
    transition: 0.3s ease;
}

.fit-container:hover{
    box-shadow: 1px 5px 10px #00000044;
}
.bottom-tab{
    bottom:0;
    background-color: white;
    border-radius:4px 4px 0 0;
    box-shadow: -5px -5px 10px #00000011;
    transition: 0.3s ease;
    position:fixed;
    width:100%;z-index:1
}
.bottom-tab-section{
    color:#343434;
    background:white;
    font-size:16px;
    border-radius:4px 4px 0 0;
    transition:0.3s ease;
    padding:4px 8px;

    outline:none;
    border:0;
    cursor:pointer;

}
.bottom-tab-section:focus{
    color:#216bf3;
    background:#eee;
}
/* .bottom-tab-section:focus{
    color:#216bf3;
    background:#eee;
    font-size:44px;
} */
.bottom-tab-section-selected{
    color:#216bf3;
    background:white;
    font-size:16px;
    transition:0.3s ease;
}
.leftTabButtonSelected{
    margin:4px 0px 4px 0px;
    border-width: 0;
    border-radius: 18px 0px 0px 18px;
    padding:4px 12px 4px 12px;
    background-color: #216bf3;
    color:white;
    box-shadow: 0px 6px 15px #00000022;
    transition:0.2s ease;
}
.tabContainerRight{
    color: white;
    background-color: #216bf3;
    border-radius: 12px;
    font-size:22px;
    padding:4px;
    transition: 0.3s ease;
    box-shadow: 0px 6px 15px #00000033;
    transition:0.3s ease;
}

.text-field{
    border-radius: 8px;
    border-color: #218ef3d0;
    padding:0 4px 8px 8px;
    outline:none;
    border-width: 2px;
    color:#216bf3;
    font-size: 16px;transition: 0.5s ease;
    border-style:solid;
    margin:8px 4px;
}
.text-field:hover{
    outline:none;
    color:#216bf3;
    border-color: #216bf3;
    border-width: 3px;
    transition: 0.5s ease;
}
.text-field-error{
    border: 3px solid #c40c0c;
    border-radius: 8px;
    padding:0 4px 8px 8px;
    outline:none;
    color:#c40c0c;
    font-size: 16px;
    transition: 0.5s ease;
    margin:4px 2px;
}
.text-field-warn{
    border: 3px solid #d66a04;
    border-radius: 8px;
    padding:0 4px 8px 8px;
    outline:none;
    color:#d66a04;
    font-size: 16px;transition: 0.5s ease;
    margin:4px 2px;
}

.text-field-active{
    border: 3px solid #00893E;
    border-radius: 8px;
    padding:0 4px 8px 8px;
    outline:none;
    color:#00893E;
    font-size: 16px;
    transition: 0.5s ease;
    margin:6px 4px;
}
.text-input{
    padding:0;
    color:black;
    background-color: transparent;
    border-width:0;
    width:100%;
    font-size: 24px;
}
.text-input:focus{
    outline:none;
    border-width: 0;
    background-color: transparent;
}

.field-caption{
    padding:0 4px 0 4px;
}
.box-field{
    border-radius: 8px;border-color: #216bf3;
    padding:0 4px 8px 4px;
    outline:none;
    border-width: 3px;
    color:#216bf3;
    transition: 0.5s ease;
    border-style:solid;
}

.display-button{
    background-color: #216bf3;
    color:white;
    margin: 4px;
    border-width: 0;
    border-radius: 4px;
    box-shadow: 1px 5px 10px #00000044;
    padding: 12px 62px 12px 62px; font-size:38px;
    transition: 0.2s ease;
    cursor: pointer;

}
.display-button:focus{
    outline:none;
    background-color: #94a5db;
    box-shadow: 1px 5px 5px #00000010;
}
.sub-display-button{
    background-color: white;
    color:#216bf3;
    border-width: 0;
    border-radius: 4px;
    box-shadow: 1px 5px 10px #00000044;
    padding: 8px 32px 8px 32px; font-size:24px;
    transition: 0.2s ease;
    cursor: pointer;
}
.sub-display-button:focus{
    outline: none;
    background-color: #ededed;

}
.positive-button{
    background-color: #216bf3;
    color:white;
    margin: 4px;
    border-width: 0;
    border-radius: 4px;
    box-shadow: 1px 5px 10px #00000022;
    padding:4px 12px 4px 12px;
    transition: 0.3s ease;
    cursor: pointer;
}
.positive-button:hover{
    box-shadow: 1px 5px 18px #00000044;
}
.positive-button:focus{
    outline:none;
    background-color: #94a5db;
    box-shadow: 1px 5px 10px #00000011;
}
.active-button{
    background-color: #00893E;
    color:white;
    margin: 4px;
    border-width: 0;
    border-radius: 4px;
    box-shadow: 1px 5px 10px #00000022;
    padding:4px 12px 4px 12px;
    transition: 0.2s ease;
    cursor: pointer;
}
.active-button:hover{
    box-shadow: 1px 5px 18px #00000044;
}
.active-button:focus{
    outline:none;
    background-color: #81be7c;
    box-shadow: 1px 5px 10px #00000011;
}
.neutral-button{
    background-color: white;
    color:#216bf3;
    margin: 4px;
    border-width: 0;
    border-radius: 4px;
    box-shadow: 1px 5px 10px #00000022;
    padding:4px 12px 4px 12px;
    transition: 0.2s ease;
    cursor: pointer;
}
.neutral-button:hover{
    box-shadow: 1px 5px 18px #00000044;
}
.neutral-button:focus{
    outline:none;
    background-color: #eeeeeeee;
    box-shadow: 1px 5px 5px #00000000;
}
.negative-button{
    background-color: #c40c0c;
    color:white;
    margin: 4px;
    border-width: 0;
    border-radius: 4px;
    box-shadow: 1px 5px 10px #00000022;
    padding:4px 12px 4px 12px;
    transition: 0.2s ease;
    cursor: pointer;
}
.negative-button:hover{
    box-shadow: 1px 5px 18px #00000044;
}
.negative-button:focus{
    outline:none;
    background-color: #db94a5;
    box-shadow: 1px 5px 10px #00000011;
}
.warning-button{
    background-color: #d66a04;
    color:#ffffff;
    margin: 4px;
    border-width: 0;
    border-radius: 4px;
    box-shadow: 1px 5px 10px #00000022;
    padding:4px 12px 4px 12px;
    transition: 0.2s ease;
    cursor: pointer;
}
.warning-button:hover{
    box-shadow: 1px 5px 18px #00000044;
}
.warning-button:focus{
    outline:none;
    background-color: #7e4a06;
    box-shadow: 1px 5px 10px #00000011;
}
.circle-button{
    background-color: #ffffff;
    padding:8px;
    border-width:0;
    border-radius:50%;
    box-shadow: 1px 5px 10px #00000022;
    transition:0.2s ease;
    cursor: pointer;
}
.circle-button:focus{
    outline:none;
    background-color: #efefef;
}
.snack-neutral{
    z-index:3;
    display:none;
    position: fixed;
    bottom:0;
    padding:4px;
    float:bottom;
    box-shadow: 1px 5px 5px #00000044;
    border-radius:4px;
    background-color: #ffffff;
    color:#216bf3;
    margin:12px;
    transition:0.3s ease;
    font-size: 18px;
    font-family: 'Questrial',sans-serif;
}
.snack-positive{
    z-index:3;
    display:none;
    position: fixed;
    bottom:0;
    padding:4px;
    float:bottom;
    box-shadow: 1px 5px 5px #00000044;
    border-radius:4px;
    background-color: #216bf3;
    color:white;
    margin:12px;
    transition:0.3s ease;
    font-size: 18px;
    font-family: 'Questrial',sans-serif;
}
.snack-negative{
    z-index:3;
    display:none;
    position: fixed;
    bottom:0;
    padding:4px;
    float:bottom;
    box-shadow: 1px 5px 5px #00000044;
    border-radius:4px;
    background-color: #c40c0c;
    color:white;
    margin:12px;
    transition:0.3s ease;
    font-size: 18px;
    font-family: 'Questrial',sans-serif;
}
.snack-warn{
    z-index:3;
    display:none;
    position: fixed;
    bottom:0;
    padding:4px;
    float:bottom;
    box-shadow: 1px 5px 5px #00000044;
    border-radius:4px;
    background-color: #d66a04;
    color:white;
    margin:12px;
    transition:0.3s ease;
    font-size: 18px;
    font-family: 'Questrial',sans-serif;
}
.snack-active{
    z-index:3;
    display:none;
    position: fixed;
    bottom:0;
    padding:4px;
    float:bottom;
    box-shadow: 1px 5px 5px #00000044;
    border-radius:4px;
    background-color: #00893E;
    color:white;
    margin:12px;
    transition:0.3s ease;
    font-size: 18px;
    font-family: 'Questrial',sans-serif;
}

.dialog{
    z-index:2;
    display:none;
    padding-top:80px;
    padding-bottom:80px;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color: #216bf3;
}
.dialog-box{
    margin:auto;
    background-color:#fff;
    position:relative;
    padding:22px 0;
    outline:0;
    overflow-wrap:anywhere;
    width:80%;
}
@media (max-width:600px){.dialog-box{margin:0 10px;width:auto!important}.dialog{padding-top:30px}}
@media (max-width:768px){.dialog-box{width:500px}.dialog{padding-top:50px}}

#dialogContent{
    padding:4px 8px!important;
}
#dialogHeading{
    color:#216bf3;
    text-align:center;
    font-family: 'Jost',sans-serif;
    font-size: 32px;
}
#dialogSubHeading{
    color:#000000;
    text-align:left;
    padding: 4px 4px;
    font-family: 'Questrial',sans-serif;
    font-size: 20px;
}
#dialogActions{
    padding:8px 4px 0px 4px!important;
}
.image-text-button{
    color:black;
    border-width: 0;
    font-size: 22px;
    box-shadow: 1px 5px 10px #00000044;
    background-color: #ffffffff;
    padding:0;
    width: 100%;
    font-family: 'Questrial',sans-serif;
    position: relative;
    border-radius: 12px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.image-text-button:hover{
    background-color: #ffffffc7;
    box-shadow: 1px 5px 20px #00000079;
}
.image-text-button:focus{
    outline:none;
    color:#00000066;
    background-color: #ffffff98;
    box-shadow: 2px 2px 2px 2px #00000011;
}

/* Create custom radio button*/
.radio-container {
    position: relative;
    cursor: pointer;
    font-size: 18px;
    padding: 8px 8px 6px 34px;
    margin:4px;
    background-color: #efefef;
    border-radius:18px;
    font-family:'Questrial',sans-serif;
    -webkit-user-select: none;
    width:fit-content;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition:0.3s ease;
  }
  
  /* Hide the browser's default radio button */
  .radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 0px;
    width: 0px;
    margin:4px;
    display:none;
    background-color: #216bf3;
    border-radius: 50%;
    box-shadow: 1px 5px 10px #00000022;
    transition:0.3s ease;
  }
  
  .radio-container:hover{
    background-color: #216bf3;
    color:white;
  }
  
  /* When the radio button is checked, add a blue background */
  .radio-container input:checked ~ .checkmark {
    display:block;
    height: 25px;
    width: 25px;
    background-color: #216bF3;
  }
  .radio-container input ~ .checkmark {
    display:block;
    height: 25px;
    width: 25px;
    background-color: #efefef;
  }
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    transition:0.3s ease;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .radio-container input:checked ~ .checkmark:after {
    display: block;
    transition: 0.3s ease;
  }
  
  /* Style the indicator (dot/circle) */
  .radio-container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #efefef;
  }

 
/* The container */
.radio-box-container {
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    width:100%;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition:0.3s ease;
  }
  
  /* Hide the browser's default radio button */
  .radio-box-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .radio-box-mark {
    position: relative;
    height: fit-content;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    padding:8px;
    border: 2px solid #fff;
    background-color: #fff;
    border-radius:8px;
    transition:0.3s ease;
  }
  
  /* On mouse-over, add a grey background color */
  .radio-box-container:hover input ~ .radio-box-mark {
    background-color: #216bf333;
    border: 2px solid #216bf333;
    color:#fff;
    transition:0.3s ease;
    box-shadow:0 3px 8px 0 #00000023;
  }
  
  /* When the radio button is checked, add a blue background */
  .radio-box-container input:checked ~ .radio-box-mark {
    background-color: #fff;
    color:#216bf3;
    padding:12px;
    border: 2px solid #216bf3;
    transition:0.3s ease;
  }
  
.dropdown {
    position: relative;
    display: inline-flex;
}
.dropdown-input{
    outline:none;
    border: 0px solid;
    border-radius:8px;
    background-color: #efefef;
    color:#232323;
    padding:4px 8px;
    font-size: 18px;
    transition:0.2s ease;
}
.dropdown-input:focus{
    outline:none;
    background-color: white;
    color:black;
    box-shadow: 1px 5px 10px #00000044;   
}

.dropdown-content {
    display: none;
    position: absolute;
    border-radius:0 8px 8px 8px;
    font-size:20px;
    background-color: white;
    box-shadow: 1px 5px 10px #00000044;
    overflow: auto;
    z-index: 1;
    cursor:pointer;
    transition:0.3s ease;

  }
  
.dropdown-content a {
    color: black;
    background-color: white;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
    transition:0.3s ease;
}
.dropdown-content a:hover {
    background-color: #efefef;
    color:#216bf3;

}