<!DOCTYPE html>
<html>
    <title>Registration · Schemester</title>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" id="viewportTag">
        <meta name="robots" content="noindex, nofollow">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-16LE">
        <meta name="theme-color" content="#216bf3">
        <link rel="icon" href="/graphic/icons/schemester128.png" type="image/png" sizes="128x128">
        <link rel="stylesheet" href="/css/fmt.css">
        <link rel="stylesheet" href="/css/main.css">
        <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
        <script async type="text/javascript" src="/script/main.js"></script>
        <script type="text/javascript" src="/script/admin/register.js"></script>
        <script async type="text/javascript" src="/script/rdb.js"></script>
    </head>
    <body>
        <div id="topBar">
            <img src="/graphic/icons/schemester512.svg" width="40" alt="Schemester icon" onclick="refer(locate.root)">
            <span id="greeting">Registration</span>
            <span class="fmt-dropdown-hover fmt-right">
                <img src="/graphic/menudotsvertical.svg" id="menuButton">
                <div class="fmt-dropdown-content container" id="settingDropdown" style="right:0;padding:0;margin-right: 8px;background-color: #efefef;color:blue">
                    <div class="fmt-padding" id="saveandexit">Save & Exit</div>
                    <div class="fmt-padding" id="settingsButton">Settings</div>
                    <div class="fmt-padding" id="logoutAdminButton">Logout</div>
                </div>
            </span>
            <img class="fmt-spin-fast fmt-circle fmt-right" style="display:none" width="40" src="/graphic/onethreeload.svg" id="navLoader" alt="Loader"/>
            <input type="text" class="searcher fmt-right" name="search">
        </div>
        <div class="fmt-padding-small" style="margin-top: 66px;">
            <div class="container fmt-row " id="stage1">
                <span class="heading" id="s1head"></span>
                <br/>
                <!--Admin details-->
                <div class="fmt-row">
                <div class="group-heading" id="adminHead"></div>
                <div class="fmt-col">
                    <div class="fmt-row">
                        <fieldset class="text-field" id="adminNameField">
                            <legend class="field-caption">Name Visible to people of your institution</legend>
                            <span style="font-size: 24px;" id="adminName"><%= adata.username %> </span>
                            <!-- <input class="text-input" required autocomplete="name" placeholder="Miss/Mrs/Mr/Dr." type="text" id="adminName" name="adminDetails"> -->
                            <span class="fmt-right error-caption"  id="adminNameError"></span>
                        </fieldset>
                    </div>
                </div>
                <div class="fmt-half">
                    <fieldset class="fmt-col text-field" id="emailField">
                        <legend class="field-caption">Email Address</legend>
                        <span style="font-size: 24px;" id="adminEmail"><%= adata.id %> </span>
                        <button class="positive-button fmt-right" style="margin:0 4px" id="verifiedEmail">C</button>
                        <button class="warning-button fmt-right" style="margin:0 4px" id="changeEmail">V</button>
                    </fieldset>
                </div>
                <div class="fmt-half">
                    <div class="fmt-row">
                        <fieldset class="text-field fmt-right" id="adminPhoneField">
                            <legend class="field-caption">Your contact number</legend>
                            <span style="font-size:24px;">+91</span>
                            <input class="text-input" style="width:fit-content" required autocomplete="tel" placeholder="XXXXXXXXXX" type="tel" id="adminPhone" name="adminDetails">
                            <span class="fmt-right error-caption"  id="adminPhoneError"></span><!-- add break in span -->
                        </fieldset>
                    </div>
                </div>
                </div>
                <br/>
                <!--institution-->
                <div class="fmt-row">
                    <div class="group-heading" id="instHead"></div>
                    <div class="fmt-col fmt-half">
                        <div class="fmt-row">
                            <fieldset class="text-field" id="instNameField">
                                <legend class="field-caption">Proper name of Institution</legend>
                                <input class="text-input" required spellcheck="false" autocomplete="organization" placeholder="Don't include address with name" type="text" id="instName" name="instDetails">
                                <span class="fmt-right error-caption"  id="instNameError"></span>
                            </fieldset>
                        </div>
                        <div class="fmt-row">
                            <fieldset class="text-field" id="uiidField">
                                <legend class="field-caption">UIID Permanent</legend>
                                <span style="font-size: 24px;" id="instuiid"><%= adata.uiid %> </span>
                                <span class="fmt-right error-caption"  id="uiidError"></span>
                            </fieldset>
                        </div>
                    </div>
                    <div class="fmt-col fmt-half">
                        <div class="fmt-row">
                            <fieldset class="text-field fmt-right" id="instNameField">
                                <legend class="field-caption">Telephone Number</legend>
                                <span style="font-size:24px;">0120-</span><input class="text-input" style="width:fit-content" required autocomplete="tel-extension" placeholder="XXXXXXX" type="tel" id="instPhone" name="instDetails">
                                <span class="fmt-right error-caption"  id="instNameError"></span>
                            </fieldset>
                        </div>
                        <div class="fmt-row fmt-twothird fmt-right">
                            <fieldset class="text-field" id="instClassField">
                                <legend class="field-caption">Total classes in institution</legend>
                                <input class="text-input" required placeholder="Count without sections" type="number" min="1" max="50" id="instClassCount" name="instDetails">
                                <span class="fmt-right error-caption"  id="instClassError"></span>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="fmt-row fmt-center">
                    <img class="fmt-spin-fast" width="50" src="/graphic/blueLoader.svg" id="stage1load"/>
                    <button class="positive-button fmt-center" id="saveStage1">Save &amp; Continue</button>
                </div>
            </div>

            <div class="container" id="stage2">
                <span class="heading" id="s2head"></span>
                <br/>
                <div class="fmt-row fmt-padding">
                    <div class="group-heading" id="timeHead"></div>
                    <div class="fmt-half">
                        <fieldset class="text-field" id="startTimeField">
                            <legend class="field-caption">Schedule starts at</legend>
                            <input class="text-input" required type="time" id="startTime" name="timeDetail">
                            <span class="fmt-right error-caption"  id="startTimeError"></span>
                        </fieldset>
                        <fieldset class="text-field" id="nameField">
                            <legend class="field-caption">Break starts at</legend>
                            <input class="text-input" required type="time" id="breakStartTime" name="timeDetail">
                            <span class="fmt-right error-caption"  id="breakStartError"></span>
                        </fieldset>
                    </div>
                    <div class="fmt-half">
                        <fieldset class="text-field" id="endTimeField">
                            <legend class="field-caption">Schedule Ends at</legend>
                            <input class="text-input" required placeholder="XXX-XXX-XXXX" type="time" id="endTime" name="timeDetail">
                            <span class="fmt-right error-caption"  id="endTimeError"></span>
                        </fieldset>
                        <fieldset class="text-field" id="phoneField">
                            <legend class="field-caption">First Day of week</legend>
                            <input class="text-input" autocomplete="bday-day" required placeholder="Monday" type="text" id="firstDay" name="timeDetail">
                            <span class="fmt-right error-caption"  id="firstDayError"></span>
                        </fieldset>
                    </div>
                </div>
                <div class="fmt-row fmt-padding" >
                    <div class="group-heading" id="durationHead"></div>
                    <div class="fmt-half">
                        <fieldset class="text-field" id="eachDurationField">
                            <legend class="field-caption">Duration of each period</legend>
                            <input class="text-input" required placeholder="In minutes" min="1" type="number" id="eachDuration" name="durationDetail">
                            <span class="fmt-right error-caption"  id="eachDurationError"></span>
                        </fieldset>
                        <fieldset class="text-field" id="breakDurationField">
                            <legend class="field-caption">Break Duration</legend>
                            <input class="text-input" required placeholder="In minutes" min="1" type="number" id="breakDuration" name="durationDetail">
                            <span class="fmt-right error-caption"  id="breakDurationError"></span>
                        </fieldset>
                    </div>
                    <div class="fmt-half fmt-row">
                        <fieldset class="text-field" id="totalDaysField">
                            <legend class="field-caption">Total working days in a week</legend>
                            <input class="text-input" required placeholder="Between 1 and 7" min="1" max="7" type="number" id="totalDays" name="durationDetail">
                            <span class="fmt-right error-caption"  id="totalDaysError"></span>
                        </fieldset>
                        <fieldset class="text-field" id="totalPeriodsField">
                            <legend class="field-caption">Total Periods in a day</legend>
                            <input class="text-input" required placeholder="A number" min="1" type="number" id="totalPeriods" name="durationDetail">
                            <span class="fmt-right error-caption"  id="totalPeriodsError"></span>
                        </fieldset>
                    </div>
                </div>
                <br/>
                <div class="fmt-row fmt-center">
                    <img class="fmt-spin-fast" style="display:none" width="50" src="/graphic/blueLoader.svg" id="stage2load"/>
                    <button class="positive-button" id="saveStage2">Create schedule</button>
                </div>
            </div>
            
            <div class="container" id="stage3">
                <div class="fmt-row">
                    <div class="fmt-col fmt-half">
                        <fieldset class="text-field" id="eachDurationField">
                            <legend class="field-caption">Email address of teacher</legend>
                            <input class="text-input" required placeholder="someone@example.com"  type="email" id="teacherEmail" name="teacherScheduleDetail">
                            <span class="fmt-right error-caption"  id="eachDurationError"></span>
                        </fieldset>
                    </div>
                    <div class="fmt-col fmt-half">
                    <div class="fmt-right" style="padding:12px">
                        <button class="positive-button" id="nextButton">Next</button>
                    </div>
                    <div class="fmt-half fmt-right">
                        <fieldset class="text-field" id="teacherDayField">
                            <legend class="field-caption">Week Day</legend>
                            <input class="text-input" required placeholder="Monday" type="text" id="teacherDay" name="teacherScheduleDetail">
                            <span class="fmt-right error-caption"  id="teacherDayError"></span>
                        </fieldset>
                    </div>
                    </div>
                </div>
                <br/>
                <div class="fmt-row group-heading" style="color:#216bf3;">
                    <div class="fmt-col" style="width: 20%;">
                        Period
                    </div>
                    <div class="fmt-col n" style="width: 30%;">
                        Class
                    </div>
                    <div class="fmt-col -blue" style="width: 50%;">
                        Subject
                    </div>
                </div>

                <div class="fmt-row container" style="padding:4px" id="teacherFillerBox">
                </div>
            </div>
        </div>
        <div id="snackBar" class="snackbar fmt-animate-bottom">
            <span class="snack-text fmt-left" id="snackText">
            </span>
            <button class="fmt-right neutral-button" id="snackButton"></button>
        </div>
    </body>
</html>