<!DOCTYPE html>
<html>
    <head>
        <title>Today · Schemester</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="noindex, nofollow">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-16LE">
        <meta name="theme-color" content="#216bf3">
        <link rel="icon" href="/graphic/icons/schemester128.png" type="image/png" sizes="128x128">
        <link rel = "stylesheet" href="/css/fmt.css">
        <link rel = "stylesheet" href="/css/main.css">
        <link rel = "stylesheet" href="/css/checkbox.css">
        <link href="/font/Jost.css" rel="stylesheet">
        <link href="/font/Questrial.css" rel="stylesheet">
        <script src="/script/main.js"></script>
        <script src="/script/teacher/teacherdash.js"></script>
    </head>
    <body>
        <!-- <div id="topBar" style="background-color: transparent;">
            <img src="/graphic/icons/schemester512.svg" width="40" alt="Schemester icon" id="navicon" onclick="relocate(locate.root,{client:client.teacher})">
            <span id="greeting">Today</span>
            <img class="fmt-spin-fast fmt-circle fmt-right" style="display:none" width="40" src="/graphic/onethreeload.svg" id="navLoader"/>
            <button class="neutral-button fmt-right" id="logout">Logout</button>
        </div> -->
        <div class="fmt-row " style="padding:0">
            <iframe src="/teacher/today" style="width:100%;border:0;height:850px" id="frame">
            </iframe>
        </div>
        <div class="fmt-row bottom-tab fmt-center">
            <button class="fmt-col bottom-tab-section" style="width:33.333%" id="todaytab">
                <img width="40" src="/graphic/blueLoader.svg"/><br/>
                Today
            </button>
            <button class="fmt-col bottom-tab-section" style="width:33.33%" id="fulltab">
                <img width="40" src="/graphic/blueLoader.svg"/><br/>
                Week
            </button>
            <button class="fmt-col bottom-tab-section" style="width:33.333%" id="edittab">
                <img width="40" src="/graphic/blueLoader.svg"/><br/>
                Plans
            </button>
        </div>
    </body>
</html>