<!DOCTYPE html>
<html>
    <head>
        <title>Login · Student</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="noindex, nofollow">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-16LE">
        <meta name="theme-color" content="#216bf3" id='themecolor'>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <link rel="apple-touch-startup-image" href="/graphic/icons/schemester128.png">
        <link rel="icon" href="/graphic/icons/schemester128.png" type="image/png" sizes="128x128">
        <link rel = "stylesheet" href="/css/fmt.css">
        <link rel = "stylesheet" href="/css/main.css">
        <link rel = "stylesheet" href="/css/switch.css">
        <link href="/font/Jost.css" rel="stylesheet">
        <link href="/font/Questrial.css" rel="stylesheet">
        <script src="/script/codes.js"></script>
        <script src="/script/main.js"></script>
        <script src="/script/student/studentlogin.js"></script>
        <script src="/script/student/student.js"></script>
    </head>
    <body class="b-base" style="background-image: url('/graphic/illustrations/studentview.svg');background-repeat: no-repeat;background-size: cover;height:100%;">
        <div class=" fmt-animate-top " id="topBar">
            <img src="/graphic/leftArrow.svg" class="circle-button" width="40" alt="Go back" id="backhistory">
            <span>Student Login</span>
            <img class="fmt-spin-fast fmt-circle fmt-right" style="display:none" width="40" src="/graphic/onethreeload.svg" id="navLoader"/>
            <span class="fmt-right fmt-padding-small">
                <label class="switch-container">
                    <input type="checkbox" id="darkmode">
                    <span class="switch-positive"></span>
                </label>
            </span>
        </div>
        <div class="fmt-row fmt-padding"  style="margin-top: 72px;">
            <div class="fmt-col fmt-padding  fmt-quarter">
            </div>
            <div class="fmt-col container fmt-half  fmt-animate-top " id="workbox">
                <div class="heading fmt-center">Student</div>
                <div class="questrial">Hello, worthy student.</div>
                <div class="questrial" id="subtext"></div>
                <fieldset  id="uiidfield"></fieldset>
                <label class="switch-container" id="rememberuiidcontainer">
                    <input type="checkbox" id="rememberuiidcheck">
                    <span class="switch-positive"></span>
                </label>
                <span class="fmt-padding-small fmt-right caption questrial">Remember UIID</span>
                <br/>
                <fieldset  id="userclassfield"></fieldset>
                <fieldset  id="useremailfield"></fieldset>
                <fieldset  id="userpasswordfield"></fieldset>
                <br/>
                <div class="fmt-row">
                    <button class="neutral-button fmt-left" id="previous">Previous</button>
                    <button class="positive-button fmt-right" id="proceed">Proceed</button>
                    <img class="fmt-spin-fast fmt-right" width="50" src="/graphic/blueLoader.svg" id="loginLoader"/>
                </div>
            </div>
            <div class="fmt-col fmt-padding fmt-quarter"></div>
        </div>
        <div class="fmt-row fmt-center fmt-bottom fmt-padding fmt-animate-bottom">
            <button class="neutral-button fmt-padding" id="backroot">Home</button>
            <button class="neutral-button fmt-padding" id="createaccount">Create Account</button>
        </div>
        <div id="dialogView"></div>
        <div id="snackBar"></div>
        <span hidden>
            <span id="acsrf"><%= acsrf %></span>
            <span id="target"><%= autofill.target %></span>
        </span>
    </body>
    <noscript id="noscript" class="dialog fmt-red">
        <div class="dialog-box container fmt-center fmt-row fmt-animate-opacity" style="padding:22px 0;">
            <div class="heading">Javascript required</div><br/>
            <div class="questrial fmt-center">Please enable javascript in your browser, or allow this site to use, if denied.
                See <a target="_blank" rel="noreferrer" href="https://google.com/search?q=how+to+enable+javascript+on+browsers">how to enable javascript on browser</a>.
                <br/>If your browser doesn't support javascript, try a <a target="_blank" rel="noreferrer" href="https://google.com/search?q=modern+browsers">modern browser</a>.
            </div>
        </div>
    </noscript>
</html>